@charset "UTF-8";

/* 回答はここに書いてね */

.text-font-size {
  font-size: 16px;
}

/* floatで横並び */
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.float-box-text {
  box-sizing: border-box;
  float: left;
  margin-left: 50px;
  width: 225px;
}

.float-box-text:first-child {
  margin-left: 0;
}

/* tableで横並び */
.table-box-wrapper {
  display: table;
}

.table-box {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  width: 225px;
}

.table-box:first-child {
  padding-right: 25px;
}

.table-box:last-child {
  padding-left: 25px;
}

/* inline-blockで横並び */
.inline-box-text {
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  width: 225px;
}

.inline-box-text:last-child {
  margin-left: 45px;
}

/* flexで横並び */
.flex-box {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
}

.flex-box-text {
  box-sizing: border-box;
  width: 225px;
}

/* inline-blockとmarginでの横並び */
.margin-box {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.fixed-box {
  width: 300px;
}

.variable-box {
  margin-left: -310px;
  padding-left: 350px;
  width: 100%;
}

/* 回答はここに書いてね */