@charset "UTF-8";

/* 回答はここに書いてね */

* {
  font-size: 16px;
}
/* floatで横並び */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.float-box-text {
  width: 225px;
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
}
.float-box-text:first-child {
  margin-left: 0;
}

/* tableで横並び */
.table-box-wrapper {
  display: table;
}
.table-box {
  display: table-cell;
  width: 225px;
  box-sizing: border-box;
  vertical-align: middle;
}
.table-box:first-child {
  padding-right: 25px;
}
.table-box:last-child {
  padding-left: 25px;
}

/* inline-blockで横並び */
.inline-box {
  letter-spacing: -5px;
}
.inline-box-text {
  width: 225px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.inline-box-text:last-child {
  margin-left: 50px;
}

/* flexで横並び */
.flex-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.flex-box-text {
  width: 225px;
  box-sizing: border-box;
}

/* inline-blockとmarginでの横並び */
.box-wrapper {
  letter-spacing: -5px;
}
.margin-box {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}
.fixed-box {
  width: 300px;
}
.variable-box {
  width: 100%;
  padding-left: 350px;
  margin-left: -300px;
}
/* 回答はここに書いてね */
